*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #F5F8FF;

}
:root{
    --primaryColorRed:#E95A08;
    --primaryColorBlack:#000000;
    --color-Gray:#86898D;
}


/* header style */


.icons .fa-light fa-cart-shopping{
    color: black;
}
.icons .ul-hide{
    display: none;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100vw;
    margin: 5px 80px;
}
.logo img{
    max-height: 70px;
}
.icons ul{
    display: flex;
    gap: 40px;
    list-style: none;

}
.icons ul li:first-child a{
    color: black;
    
}
.icons ul li:last-child a{
    color: black;
    
}

.icons ul li a{
    text-decoration: none;
    color: #8987A1;
    font-family: sans-serif;
    font-size: 20px;
    font-weight: 500;
    
}

/* banner part */
.banner{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    max-width: 100vw;
    margin: 60px 80px;
}
.banner .text-content{
    max-width: 50%;
}

.banner .text-content h2, .red-span{
    font-size: 50px;
    font-weight: bold;
    color: var(--primaryColorRed);
    margin: 5px 0;
}
.banner .text-content .black-h2 {
    color: black;
}

.banner .text-content p{
    font-size: 22px;
    color: var(--color-Gray);
    font-family: Arial, Helvetica, sans-serif;
}
.banner .img {
    max-width: 50%;
    
    
}
.banner .img img{
    width: 100%;
}

/* Plant Section part */

.plant-container{
    margin-top: 90px;
}

.title-sub-container {
  text-align: center;
}

.plant-title {
  font-family: sans-serif;
  font-size: 80px;
  margin-bottom: 10px;
}

.orange-span{
  color: #E95A08;
}

.plant-subtitle{
    font-size: 40px;
  color: #86898D;
  margin-bottom: 45px;
}

.plant-des {
  font-family:sans-serif;
  font-size: 30px;
  color: black;
  margin-top: 10px;
}

.plant-price{
  font-family:sans-serif;
  font-size: 25px;
  color: black;
  margin-top: 10px;
  margin-bottom: 15px;
}

.plant-btn{
    font-size: 15px;
  color: white;
  background-color: #E95A08;
  border: none;
  padding: 20px 90px;
  margin-bottom: 40px;
}

.plant-container-div{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
    gap: 10px;
    margin: 0 80px;
}

.image-info-container img {
    width: 80%;
}

/* Plant lover section */

.plant-lover-container{
    display: flex;
    margin-top: 60px;
    justify-content: center;
    align-items: center;
    gap: 120px;
}

.plant-lover-title{
    font-family: 'Times New Roman', Times, serif;
    font-size: 70px;
    margin-bottom: 20px;
    margin-left: -30px;
}

.hide-plant-lover-title{
    display: none;
}

.plant-lover-comment{
    font-family: sans-serif;
    color: #86898D;
    font-size: 25px;
}

.ul-plant-lover-comment{
    display: none;
}

.plant-lover-comment li {
    margin-bottom: 15px;
}

/* Latest Deal Part */

.latest-deal-div{
    text-align: center;
    margin-top: 100px;
}

.latest-title{
    font-family: sans-serif;
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 15px;
}

.latest-sub-title{
    font-family: sans-serif;
    color: #86898D;
    font-size: 20px;
    margin-bottom: 60px;
}

.latest-deal-image-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 195px 195px;
    gap: 25px;
    margin: 0 90px;
}

.bloom-plant{
    background-image: linear-gradient(rgba(38,37,37,0.6), rgba(40, 39, 39, 0.4)), url(assets/deal-bloom.png);
    background-size: cover;
    border-radius: 14px;
    background-color: rgba(0, 0, 0, 0.4);
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.zabo-plant {
    background-image: linear-gradient(rgba(38, 37, 37, 0.6), rgba(40, 39, 39, 0.4)), url(assets/deal-zabo.png);
    grid-row: span 2;
    border-radius: 14px;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.ana-plant {
    background-image: linear-gradient(rgba(38, 37, 37, 0.6), rgba(40, 39, 39, 0.4)), url(assets/deal-ana.png);
    border-radius: 14px;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.offer-plant{
    font-size: 25px;
    font-weight: bold;
}

.shop{
    font-size: 20px;
    font-weight: 400;
    text-decoration: underline;
    text-underline-offset: 4px;
    margin-top: 10px;
}

/* join Section Start */

.join-section-container{
    background-image: url(assets/news-letter-bg.png);
    background-size: cover;
    padding: 90px 0;
    margin: 80px 0;
    text-align: center;
    align-items: center;
}

.join-section-container p {
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
}

.input-btn{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.join-section-container input {
    border: none;
    font-size: 16px;
    height: 50px;
    width: 40vw;
    outline: none;
    padding: 20px 8px;
}

.sub-btn{
    height: 50px;
    width: 10vw;
    border: none;
    padding: 0 26px;
    background-color: var(--primaryColorRed);
    color: #ffffff;
    font-size: 19px;
    margin-top: 40px;
}

/* Footer Section Start */

.footer-container{
    margin-top: -30px;
   display: flex;
   justify-content: space-around;
   padding-bottom: 100px;
}

.first-div p {
    color: #8987A1;
    font-size: 20px;
    margin-top: 10px;
}

.links li{
    color: #8987A1;
    list-style: none;
    font-size: 20px;
    margin-bottom: 20px;
}

.links li a{
        text-decoration: none;
        color: #8987A1;
    }

.fourth-div {
    display: flex;
    align-items: center;
    gap: 25px;
    margin-top: -170px;
}


/* media query for mobile devices */
@media (max-width:576px) {

    /* navbar part */
    nav {
        margin: 0 20px;
        align-items: center;
    }


    .icons .unhide-ul {
        display: none;
    }

    .icons .ul-hide {
        display: block;
    }
   .icons ul li:last-child a{
    font-size: 25px;
   }

    /* banner part */
    .banner {
        margin: 30px 20px;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }

    .banner .text-content {
        max-width: 100%;

    }

    .banner .text-content h2, .red-span {
        font-size: 24px;
    }

    .banner .text-content p {
        font-size: 14px;
    }

    .banner .img {
        max-width: 100%;
        margin-bottom: 30px;
    }

    /* Plant Part */

    .plant-title {
        font-family: sans-serif;
        font-size: 30px;
        margin-bottom: 10px;
    }

    .plant-subtitle{
        font-size: 15px;
        color: #86898D;
        margin-bottom: 30px;
    }

    .plant-container-div{
        grid-template-columns: repeat(2, 1fr);
        gap: 15px;
        margin: 0 20px;
    }

    .plant-des,
    .plant-price{
        font-size: 15px;
    }

    .plant-btn {
        padding: 8px 40px;
        margin-bottom: 20px;
    }

    /* Plant Lover Part */

    .plant-lover-container{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .plant-lover-img{
        margin-bottom: -40px;
        text-align: center;
    }

    .plant-lover-img img{
        width: 90%;
    }

    .plant-lover-title-div{
        margin: 0px 30px;
    }

    .plant-lover-title{
        display: none;
    }

    .hide-plant-lover-title{
        display: block;
        font-size: 40px;
        margin-left: -15px;
        margin-bottom: 20px;
    }

    .plant-lover-comment{
        display: none;
    }

    .ul-plant-lover-comment{
        display: block;
        font-family: sans-serif;
        color: #86898D;
        font-size: 15px;
    }

    .ul-plant-lover-comment li {
        margin-bottom: 15px;
    }

    /* Latest deal part */

    .latest-deal-div{
        margin-top: 30px;
        margin-left: 20px;
        margin-right: 20px;
    }

    .latest-title{
        font-size: 40px;
    }

    .latest-sub-title{
        font-size: 15px;
    }

    .latest-deal-image-container{
        display: flex;
        flex-direction: column;
        gap: 29px;
    }

    .latest-deal-image-container div {
        line-height: 30px;
    }

    .offer-plant,
    .shop{
        font-size: 15px;
    }

    .shop{
        margin-top: -5px;
    }

    .bloom-plant,
    .zabo-plant,
    .ana-plant{
        margin-top: -20px;
        height: 200px;
    }


    .bloom-plant {
        order: 1;

    }

    .zabo-plant {
        order: 3;

    }

    .ana-plant {
        order: 2;
    }

    /* Joined Section */

    .join-section-container{
        height: 267px;
    }

    .join-section-container p{
        font-size: 30px;
    }

    .join-section-container input{
        border: none;
        font-size: 14px;
        width: 60vw;
        padding: 20px 8px;
        margin-left: 17px;
    }

    .sub-btn{
       font: 1em sans-serif;
       margin-top: 20px;
       width: 30vw;
       margin-right: 20px;
    }

    /* Footer Section */

    .footer-container{
        display: block;
        padding: 0 10px;
    }

    .links li a{
        text-decoration: none;
        color: #8987A1;
    }

    .first-div p {
        margin-bottom: 10px;
    }

    .fourth-div {
        margin-top: 0;
        padding-bottom: 30px;
    }
}